
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128,128,.6);
}
.banner h1 {
    text-align: center;
}
.jumbotron{
    width: 100%;
    height: 346px;
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-repeat:no-repeat;
}

